<div class="row conteudo">
    <div class="col-sm-12">
        <div class="card">
            <h3 class="card-header">DESPESAS FIXAS</h3>
            <div class="card-body">
                <h5 class="card-title">Cadastre despesas fixas, que são obrigações todos os meses.</h5>
                <hr />
                <div *ngIf="!cadastro">
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-success" style="float: right;" (click)="novo()"><i
                                    class="icon mdi mdi-plus"></i>&nbsp;Adicionar novo</button>
                        </div>
                    </div>
                    <br />
                    <table class="table table-striped table-responsive-md table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Vencimento</th>
                                <th scope="col">Tipo</th>
                                <th scope=""></th>
                                <th scope=""></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let d of despesas">
                                <th scope="row" (click)="editar(d)">{{d.nome}}</th>
                                <td (click)="editar(d)">{{d.vencimento}}</td>
                                <td (click)="editar(d)">{{d.tipo == 'F'  ? 'Fixo' : 'Variável'}}</td>
                                <td>
                                    <button class="btn btn-danger" title="Inativar" *ngIf="d.ativo"
                                        (click)="ativarDesativar(d)"><i
                                            class="icon mdi mdi-credit-card-off-outline"></i>&nbsp;Desativar</button>
                                    <button class="btn btn-success" title="Ativar" *ngIf="!d.ativo"
                                        (click)="ativarDesativar(d)"><i
                                            class="icon mdi mdi-credit-card-check-outline"></i>&nbsp;Ativar</button>
                                </td>
                                <td (click)="editar(d)"><span
                                        [class]="d.ativo ? 'badge badge-success' : 'badge badge-danger'">{{d.ativo ?
                                        'Ativo' : 'Inativo'}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngIf="cadastro">
                    <div class="row">
                        <div class="col-sm-12">
                            <a class="btn btn-light" style="float: right;" href="javascript:void(0)"
                                (click)="voltar()"><i class="icon mdi mdi-arrow-left-bold-outline"></i>&nbsp;Voltar</a>
                        </div>
                    </div>
                    <br /><br />
                    <form #form="ngForm" (submit)="salvar()">
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label class="obrigatorio">Nome da despesa</label>
                                <input class="form-control" type="text" required [(ngModel)]="despesa.nome" name="nome"
                                    placeholder="Nome da despesa, EX: Conta de Luz" #nome="ngModel" maxlength="100">
                                <small class="limitador">{{despesa.nome.length + '/100'}}</small>
                                <div *ngIf="nome.invalid && nome.touched" class="alert alert-danger">
                                    É necessário um nome para a despesa fixa.
                                </div>
                            </div>
                            <div class="form-group col-sm-4 col-md-2">
                                <label class="obrigatorio">Dia de Vencimento</label>
                                <input class="form-control" type="number" min="0" max="31" placeholder="0"
                                    [(ngModel)]="despesa.vencimento" name="vencimento" #vencimento="ngModel"
                                    onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
                                <div *ngIf="validaDia(vencimento.value)" class="alert alert-danger">
                                    É necessário informar um dia de fechamento valido, ou deixar em branco.
                                </div>
                            </div>
                            <div class="form-group col-sm-4 col-md-2">
                                <label class="obrigatorio">Tipo de despesa</label>
                                <select class="form-control" [(ngModel)]="despesa.tipo" name="tipo" #tipo="ngModel">
                                    <option value="F">Valor Fixo</option>
                                    <option value="V">Valor Váriavel</option>
                                </select>
                                <div *ngIf="tipo.invalid && tipo.touched" class="alert alert-danger">
                                    É necessário selecionar um tipo de despesa fixa.
                                </div>
                            </div>
                            <div class="form-group col-sm-4 col-md-2" *ngIf="despesa.tipo == 'F'">
                                <label class="obrigatorio">Valor da despesa (sua parte)</label>
                                <input class="form-control" type="number" min="0" placeholder="0"
                                    [(ngModel)]="despesa.parte" name="parte" #parte="ngModel">
                                <div *ngIf="parte.invalid && parte.touched" class="alert alert-danger">
                                    É necessário informar o valor da despesa.
                                </div>
                            </div>
                            <div class="form-group col-sm-4 col-md-2" *ngIf="despesa.tipo == 'F'">
                                <label>Valor total da despesa</label>
                                <input class="form-control" type="number" min="0" placeholder="0"
                                    [(ngModel)]="despesa.valor" name="valor" #valor="ngModel">
                            </div>
                            <div class="form-group col-sm-4 col-md-2" *ngIf="despesa.tipo == 'V'">
                                <label class="obrigatorio">Tipo de calculo</label>
                                <select class="form-control" [(ngModel)]="despesa.calculo" name="calculo"
                                    #calculo="ngModel">
                                    <option value="A">Ano vigente</option>
                                    <option value="T">Todos anos</option>
                                </select>
                                <div *ngIf="calculo.invalid && calculo.touched" class="alert alert-danger">
                                    É necessário o tipo de calculo.
                                </div>
                            </div>
                            <div class="form-group col-sm-4 col-md-2">
                                <br />
                                <input type="checkbox" id="chkAtivo" [(ngModel)]="despesa.ativo" name="ativo"
                                    #ativo="ngModel">&nbsp;
                                <label class="form-check-label" for="chkAtivo">Ativo</label>
                            </div>
                        </div>
                        <button type="submit" [disabled]="!form.valid" class="btn btn-primary"><i
                                class="icon mdi mdi-content-save"></i>&nbsp;Salvar</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>