<div class="row conteudo">
    <div class="col-sm-12">
        <div class="card">
            <h3 class="card-header">DICAS DE ECONOMIA</h3>
            <div class="card-body">
                <span>Clique nos métodos abaixo, e veja dicas para economizar seu dinheiro, encontre a fórmula que mais
                    combina com você.</span><br /><br />
                <hr />

                <div id="dicas">
                    <div class="card">
                        <div class="card-header opcao" id="basicos">
                            <h5 class="mb-0">
                                <button class="btn bt" data-toggle="collapse" data-target="#basicoscontent"
                                    aria-controls="basicoscontent">
                                    <i class="icon mdi mdi-alpha-b-circle-outline mdi-24px"></i> BÁSICO
                                </button>
                            </h5>
                        </div>
                        <div id="basicoscontent" class="collapse" aria-labelledby="basicos" data-parent="#dicas">
                            <div class="card-body">
                                <p>Texto básico</p>
                            </div>
                        </div>

                        <div class="card-header opcao" id="tempoobjetivo">
                            <h5 class="mb-0">
                                <button class="btn bt" data-toggle="collapse" data-target="#tempoobjetivocontent"
                                    aria-controls="tempoobjetivocontent">
                                    <i class="icon mdi mdi-calendar-clock mdi-24px"></i> Método: Economia por Tempo x
                                    Objetivo
                                </button>
                            </h5>
                        </div>
                        <div id="tempoobjetivocontent" class="collapse" aria-labelledby="tempoobjetivo"
                            data-parent="#dicas">
                            <div class="card-body">
                                Texto do tempo objetivo
                            </div>
                        </div>

                        <div class="card-header opcao" id="mensalfixa">
                            <h5 class="mb-0">
                                <button class="btn bt" data-toggle="collapse" data-target="#mensalfixacontent"
                                    aria-controls="mensalfixacontent">
                                    <i class="icon mdi mdi-cash-check mdi-24px"></i> Método: Economia Mensal Fixa
                                </button>
                            </h5>
                        </div>
                        <div id="mensalfixacontent" class="collapse" aria-labelledby="mensalfixa" data-parent="#dicas">
                            <div class="card-body">
                                Texto do mensal fixa
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>